server_1 ug70.eecg.utoronto.ca 50000
server_2 ug60.eecg.utoronto.ca 50000
server_3 ug61.eecg.utoronto.ca 50000
server_4 ug62.eecg.utoronto.ca 50000
server_5 ug63.eecg.utoronto.ca 50000
server_6 ug64.eecg.utoronto.ca 50000
server_7 ug65.eecg.utoronto.ca 50000
server_8 ug66.eecg.utoronto.ca 50000
server_9 ug67.eecg.utoronto.ca 50000
server_10 ug68.eecg.utoronto.ca 50000
